*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::placeholder {
	color: #666;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a,
button,
textarea,
select {
	text-decoration: none;
	border: none;
	font-family: inherit;
	color: inherit;
}

:focus {
	outline: none;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
